.modal.food-modal {
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 4;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content.food-modal {
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
    position: absolute;
    top: 30%;
    left: 30%;
    width: 40%;
    padding: 20px;
    border-radius: 5px;
    z-index: 6;
}

#rst-food-modal-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}


.rst-food-modal-body{
    padding-top: 0.5vw;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.rst-modal-img{
    object-fit: cover;
    object-position: center;
    align-self: center;
    width: 9vmax;
    height: 9vmax;
    margin-top: 2vmin;
    border-radius: 5px;
}

.rst-food-modal-card{
    width:100%;
    border-radius: 15px;
}

.rst-food-modal-content-row{
    display: flex;
    align-items: center;
    padding-bottom: 1vw;
    border-bottom: 0.1vw dashed #1A535C;
}

.rst-food-modal-content{
    display: flex;
    flex-direction: column;
}

#rst-owner{

}

.rst-add-panel{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.rst-food-modal-order-row{
    display:flex;
    justify-content: flex-end;
    align-items: center;
}

.flaticon-minus.rst {
    color: #ff6b6b;
}

.flaticon-plus.rst {
    font-size: 0.5vw;
}

.rst-cart-food-count {
    margin-left: 20px;
}