#crt-cart-title {
    color: black;
    font-size: 1.3vw;
    border-bottom: 0.15vmin solid rgb(59, 58, 58);
    text-align: center;
    width: 7vw;
}

.food-list.crt {
    border: 0.1vw dashed rgb(88, 88, 88);
    border-radius: 30px;
    padding-inline-start: 0;
    margin-bottom: 15px;
    /*margin-left: 15px;*/
    /*margin-right: 15px;*/
    width: 100%
}

.food-item.crt {
    /*display: block;*/
    /*flex-direction: column;*/
    /*border-bottom: 0.1vw solid rgb(105, 104, 104);*/
    margin: 15px;
    padding: 0;
    border: none;
    width: 100%
}

.crt-food-title {
    font-weight: 100;
    font-size: 1vw;
    margin-left: 3vw;
    margin-bottom: 0.5rem;
    /*display: block;*/
    /*width: 100%;*/
    /*overflow: hidden;*/
    /*white-space: nowrap;*/
    /*text-overflow: ellipsis;*/


}

.crt-item-first-line {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%
}

.crt-food-price {
    text-align: left;
    margin-left: 15px;
    margin-bottom: 5px;
    font-size: 1vmax;
}

.crt.flaticon-minus:before {
    color: #ff6b6b;
    font-size: 0.8vw !important;
}

.crt.flaticon-plus:before {
    font-size: 0.8vw !important;
}

.crt-food-count {
    margin-left: 20px;
}

.crt-total-sum {
    display: flex;
    justify-content: center;
}

.crt-submit-order {
    background-color: #4ecdc4;
    border-color: #4ecdc4;
}

#crt-sum {
    font-weight: bold;
    font-size: 1vmax;
}

#crt-total {
    font-weight: 100;
    font-size: 0.9vmax;
    margin-left: 3px;
}

#crt-card{
    margin-top:2.75vmin;
    box-shadow: 0 2px 3px 0.08vmin #adb5bd;
}

.crt-line{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.crt-card-body{
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    flex-grow: 1;
    text-align: center;
    align-items: center;
    width: 100%
    /*width: 10%;*/
}

button:disabled[class*=cart-finalize-disabled]
{
    background-color:  #17a2b8;
    border-color: #17a2b8;
}