footer {
    background-color: #1a535c;
    color: #f7fff7;
    font-family: Vazir;
    font-size: 2vh;
    font-weight: 100;
    text-align: center;
    box-shadow: 0px -5px 9px -5px #888888;
    position: absolute;
    bottom: 0;
    width: 100%;
    /* line-height: 5vh; */
    font-size: 1vw;
    height: 2.5rem;
}

.footer {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#footer-col {
    display: flex;
    align-items: center;
    justify-content: center;
}
