.hdr-logo {
    max-width: 2.2rem;
    max-height: 2.2rem;
    right: 0;
    margin-right: 2vw;
    flex-grow: 0;
    position: absolute;
}

header {
    background: #ffffff;
    height: 3rem;
    width: 100%;
    position: sticky;
    top: 0px;
    display: flex;
    align-items: center;
    justify-items: flex-start;
    flex-direction: row-reverse;
    font-size: 2vmin;
    font-weight: 100;
    z-index: 3;
}



.hdr-exit-link {
    /* position: absolute; */
    flex-basis: 3.5%;
    margin-left: 1vw;
    margin-right: 10px;
    color: #ff6b6b;
    /* align-self: center; */
}

.hdr-account {
    color: black;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

.hdr-exit-link a:hover {
    color: #ff6b6b;
}

.hdr-account a:hover {
    color: black;
}

.counter.counter-lg.hdr{
    margin-top: 5px !important;
    align-self: flex-start;
    color: white;
    background: #4ecdc4;
    width:1.5vmax;
    height: 1.5vmax;
    font-size: 1vmax;
    border-radius: 50%;
    text-align: center;
}