.home-foodParty{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.home-scroll-counter-sec{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5vmin;
    margin-bottom: 0.9vmin;
}


div.home-scroll-menu {
    background-color: mintcream;
    overflow: auto;
    white-space: nowrap;
    width: 100%;
    display: flex;
}

div.home-scroll-menu-row {
    width: 100%;
    margin:0;
    height: 28.8vmin;
    /*max-height: 33.8vmin;*/
    box-shadow: 0 0 6px 1px #adb5bd;
}

div.home-scroll-menu-col {
    padding-left: 0;
    padding-right:0;
}


.home-foodParty-refresh{
    font-size:0.6vw;
    background-color: rgba(78, 205, 197, 0.1);
    border-radius: 5px;
    border: 0.04vw solid #1A535C;
    padding: 5px 10px;
}