#home-info-con {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    background:url('./Cover Photo.jpg');
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center;
    position: relative;
    height: 35vmin;
    align: center;
    /*margin-bottom: 3vmin;*/
}

#home-info-row{
    display: flex;
    justify-content: center;
    margin-right: 0;
    margin-left: 0;
    background-color: rgba(255, 107, 107, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


#home-info-col {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.home-info-logo {
    max-width: 7vmax;
    max-height: 7vmax;
    margin-bottom: 1vmax;
    box-shadow: 0 0 10px 1px #555555;
    border-radius: 50%;
}


#home-info-description {
    color: white;
    font-weight: 900;
    font-size: 1.4vmax;
    margin-top: 0.5vmax;
    margin-bottom: 2vmax;
    text-shadow: 0 0 0.2vmax black;
}