.modal.cart-modal {
    display: flex;
    justify-content: center;
    /*position: fixed;*/
    flex-grow: 1;
    z-index: 4;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content.cart-modal {
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
    /*position: absolute;*/
    top: 10vmin;
    width: 40%;
    padding: 20px;
    border-radius: 5px;
    z-index: 6;
    height: 80vmin;
    overflow: auto;

}

#hdr-modal-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}


.col-7.cart-modal{

}