.home-show-menu {
    font-size: 1.25vmin;
    padding: 5px;
    white-space: nowrap;
    justify-self: flex-end;
    margin-bottom:1vmin;
    z-index: 2;
}


.home-warning{
    background-color: #ffe66d;
    border-color: #ffe66d;
}


.home-restaurant-card {
    margin-right: 1vmin;
    margin-left: 1vmin;
    margin-top: 2.75vmin;
    box-shadow: 0 2px 3px 0.08vmin #adb5bd;
}

.home-restaurant-image {
    object-fit: cover;
    object-position: center;
    align-self: center;
    width: 8vmin;
    height: 8vmin;
    margin-top: 2vmin;
    border-radius: 50%;
}

.home-restaurant-name
{
     font-weight: bold;
     font-size: 1vw;
     /*margin-left: 2vmin;*/
     margin-bottom: 0.5rem;
     overflow: hidden;
 }