#rst-cart-menu {
    margin-top: 5vmin;
    width: 100%;
    display: flex;
    flex-direction: column;
}


#rst-print-hide {
    color: mintcream;
    font-size: 3vw;
    border-bottom: 0.15vw solid mintcream;
    text-align: center;
    width: 14vw;
}


#rst-menu-header-row {
    display: flex;
    justify-content: center;
}

#rst-menu-header-col {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#rst-menu-header-text {
    color: #1a535c;
    font-size: 2vmax;
    border-bottom: 0.15vw solid black;
    text-align: center;
    width: 14vw;
}

@media (min-width: 768px) {
    .rst-content-header-row{
        padding-left: 5vw
    }
    .rst-content-row{
        padding-left: 5vw;
    }

}


@media (min-width: 992px) {
    .rst-content-header-row{
        padding-left: 3vw
    }
    .rst-content-row{
        padding-left: 3vw;
    }

}



.rst-content-row {
    --height: fit-content;
}



#rst-cart-row {
    padding-left: 1.1vw;
    padding-right: 1.1vw;
}

