#rst-restaurant-info-pic {
    background-image: linear-gradient(
            to bottom,
            #ff6b6b,
            #ff6b6b 50%,
            #f7fff7 50%
    );
    display: flex;
    justify-content: center;
    height: 35vmin;
    width: 100%;
    margin-right: 0;
    margin-left: 0;
}

#rst-restaurant-info-con {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
}

.rst-center-cropped-res-pic {
    object-fit: cover;
    object-position: center;
    border-radius: 10%;
    border: 0.7vmax solid #ffffff;
    box-shadow: 0 0 1vmax grey;
    width: 25vmin;
    height: 25vmin;
}

#rst-restaurant-pic {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#rst-restaurant-info-name {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

#rst-restaurant-name-col {
    display: flex;
    justify-content: center;
}

#rst-restaurant-name {
    font-size: 2.5vmax;
    font-weight: bold;
}
