.modal[class*=loading-modal] {
    display: flex;
    background-color: rgba(0, 0, 0, 0.33);
    position: absolute;
    align-items: center;
    justify-content: center;
    z-index: 150;
    clear:both;

}
