#home-serach-box-div
{
    background-color: white;
    border-radius: 10px;
    box-shadow: -1px 1px 2px 0px #ad9f9f;
    position: relative;
    width: 50%;
    height: 8vmin;
    margin-right: 25%;
    margin-top: -4vmin;
    margin-left: 25%;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;

}
.home-sb-form
{
    width: 100%;
    /*height: 95%;*/
}

.searchbox-form-row
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-grow: 1;
    width:100%;


}
.form-control[class*=home-searchbox] {
    border-radius: 2px;
    display: flex;
    justify-content: center;
    height: 1.5vmin;
    text-align: center;
}

.home-sb-item
{
    width: 50%;
    margin-left: 1.8%;
}


.home-sb-item input[type='text']
{
    background-color: #e5e5e5;
    text-align: center;
}


input[class*=home-serachbox]::-webkit-input-placeholder  { /* Edge */
    text-align:center;
    color: #a9a9a9;
    font-weight: 100;

}
.home-sb-button
{
    background-color: #ffe66d;
    color: black;
    text-align: center;
    border:#ffe66d;
    height: 100%;

    /*width: 21%;*/
}

.home-sb-button-div
{
    marign-right: 2vw;
}

.home-sp-input-section{
    display: flex;
    width: 70%;

}



