signup-page {
    font-family: Vazir;
    font-style: normal;
    min-height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}



#signup-main-row {
    display: flex;
    justify-content: center;
    margin-top: 1.5vmax;
    padding-bottom: 10vmax;
}

#signup-welcome-row {
    background-color: #FF6B6B;
    display: flex;
    justify-content: center;
    padding-top: 1.5vmax;
}

#signup-welcome-col {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.signup-form-group-addition
{
    /*margin-right: -3%;*/
    padding-right: 0;
}

.signup-logo {
    max-width: 6vmax;
    max-height: 6vmax;
    margin-bottom: 1vmax;
}

form[class*=signup-form] {
    background-color: white;
    padding: 3vw;
    border-radius: 1%;
    box-shadow: 0 0 0.5vmax rgb(151, 151, 151);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.signup-form-row {
    display: flex;
    justify-content: space-between;
}

.signup-form-group {
    text-align: right;
    margin-bottom: 0.6rem;
}

label[class*=signup-label] {
    color: #1a535c;
    font-size: 1vw;
}

input[class*=signup-input],
input[class*=signup-input]::-webkit-input-placeholder {
    font-size: 1vw;
    /* line-height: 3; */
}

.form-control[class*=signup-input] {
    border-radius: 0;
    height: 3vw;
}

#signup-confirm {
    background-color: #4ecdc4;
    border-color: #4ecdc4;
    margin-top: 20px;
}

.signup-password1,
.signup-password2,
.signup-phone-number {
    padding: 0;
}

#signup-description {
    color: white;
    font-weight: 900;
    font-size: 1.4vw;
    margin-bottom: 0;
    /* text-shadow: 0 0 0.2vmax black; */
}


