.home-content{
    width: 100%;
    padding-left:0;
    padding-right:0;
    margin-top: -4vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.home-sec-title-row {
    display: flex;
    justify-content: center;
    margin-bottom: 0.9vmin;
}

.home-sec-title-row#restaurant{
    margin-top: 13vmin;
}

.home-sec-title-row#foodParty{
    margin-top: 6vmin;
}

.home-sec-title-col {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.home-sec-title {
    color: #1a535c;
    font-size: 1.5vmax;
    border-bottom: 0.15vw solid black;
    text-align: center;
    width: 10vw;
}



.home-restaurants
{
    display: inline-flex;
    justify-content: center;
    padding-right: 7.2vmax;
    width: 100vw;
}