.home-counter-box{
    margin-left: 4px;
}

.home-counter-text{
    color: #1A535C;
    font-size: 0.6vw;
    padding: 5px 10px;
}


.home-counter-text#on{
    background-color: rgba(78, 205, 197, 0.1);
    border-radius: 5px;
    border: 0.04vw solid #1A535C;
}