.rst-add-to-cart {
    font-size: 1.25vmin;
    padding: 5px;
    white-space: nowrap;
    justify-self: flex-end;
    z-index: 2;
}


.rst-warning{
    background-color: #ffe66d;
    border-color: #ffe66d;
}

.rst-info{
    background-color: #4ecdc4;
    border-color: #4ecdc4;
}