.modal.foodParty-modal {
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 4;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content.foodParty-modal {
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
    position: absolute;
    top: 30%;
    left: 30%;
    width: 40%;
    padding: 20px;
    border-radius: 5px;
    z-index: 6;
}

.home-fp-modal-row{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.home-fp-modal-body{
    padding-top: 0.5vw;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    border-radius: 15px;
}

.home-fp-modal-content-row{
    display: flex;
    align-items: center;
    padding-bottom: 1vw;
    border-bottom: 0.1vw dashed #1A535C;
}

.home-fp-modal-img{
    object-fit: cover;
    object-position: center;
    align-self: center;
    width: 9vmax;
    height: 9vmax;
    margin-top: 2vmin;
    border-radius: 5px;
}

.home-fp-modal-name-population {
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-fp-modal-rate {
    font-size: 1.25vw;
    margin-bottom: 0.5rem;
}


.home-fp-modal-title {
    font-weight: bold;
    font-size: 1vw;
    margin-left: 2vmin;
    margin-bottom: 0.5rem;
    overflow: hidden;
}

.home-fp-modal-star {
    color: rgb(255, 194, 27);
    margin-bottom: 0.5rem;
    font-size: 1vw;
}


