#login-page {
    font-family: Vazir;
    font-style: normal;
    min-height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}



#login-main-row {
    display: flex;
    justify-content: center;
    margin-top: 3vmax;
    padding-bottom: 10vmax;
}

#login-welcome-row {
    background-color: #FF6B6B;
    display: flex;
    justify-content: center;
    padding-top: 1.5vmax;
}

#login-welcome-col {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.login-logo {
    max-width: 6vmax;
    max-height: 6vmax;
    margin-bottom: 1vmax;
    /*margin-top: 1vmax;*/
    /*margin-right: 38%;*/
}

form[class*=login-form] {
    background-color: white;
    padding: 3vw;
    border-radius: 1%;
    box-shadow: 0 0 0.5vmax rgb(151, 151, 151);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/*.form-row {*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*}*/

.login-form-group {
    text-align: right;
    margin-bottom: 0.6rem;
}

label[class*=login-label] {
    color: #1a535c;
    font-size: 1vw;
}

input[class*=login-input],
input[class*=login-input]::-webkit-input-placeholder {
    font-size: 1vw;
    /* line-height: 3; */
}

.form-control[class*=login-input] {
    border-radius: 0;
    height: 3vw;
}

#login-confirm {
    background-color: #4ecdc4;
    border-color: #4ecdc4;
    margin-top: 20px;
}

.login-password {
    padding: 0;
}



#login-description {
    color: white;
    font-weight: 900;
    font-size: 1.4vw;
    /*margin-top: 10vmax;*/
    margin-bottom: 0;
    /* text-shadow: 0 0 0.2vmax black; */
}