.modal[class*=profile-modal] {
    display: flex;
    background-color: rgba(0, 0, 0, 0.25);
    position: absolute;
    z-index: 150;
    /*height: 28vmax;*/
    /*width: 60%;*/
    clear:both;

}
.profile-modal-content {

    /*background-color: red;*/
    background-color:white ;
    border-radius: 20px;
    margin-right: 20%;
    margin-left: 20%;
    margin-top: 25vh;
    width: 60%;
    color:black;
    clear:both;
    position: absolute;
}

#profile-restaurant-name-row
{
    height: 20%;
    font-size: 2.5vmax;
    font-weight: 100;
    justify-content: center;
}

#profile-restaurant-name-container
{
    justify-content: center;
    margin-right:-7.5vh;

}

#profile-restaurant-name
{
    margin-top:5%;
}

.profile-line{
    width: 70%;
    /*height: 47px;*/
    border-bottom: 1px solid lightgray;
    position: absolute;
    margin-right: 14%;

}

table[class*=profile-order-table], th[class*=profile-order-table], td {
    border: 1px solid lightgray;
    border-collapse: collapse;
    text-align: center;
    font-weight: 100;
}

table[class*=profile-order-table]
{
    width:80%;
    margin-right: 10%;
    margin-top: 5%;

}

th[class*=profile-order-table]
{
    background-color: #eaeaea;
    color: darkgray;
    font-weight: normal;
    /*font-size: 1.5vmax;*/

}

#profile-number{
    width:5%;
}

#profile-foodName
{
    width : 50%;
}

#profile-count
{
    width:20%;
}

#profile-price
{
    width:20%;
}

#profile-total-price-row
{
    display: flex;
    justify-content: flex-end;
    margin-top: 3%;
    margin-left: 7%;

}
