#profile-order-tab-con
{
    background-color: white;
    position: relative;
    width: 90%;
    top: 5vh;
    border: 0.5px solid #c6c7c7;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}

.profile-order-row
{
    width: 90%;
}

.profile-order-info
{
    background-color:#a2a2a21a;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4.5vh;
    font-weight: 100;
    font-size: 1.5vmax;
}

.profile-order-number
{

    border-radius: 0px 3px 3px 0px;
    border: 1px #adb5bdbf;
    border-style: solid solid solid none;
}

.profile-order-restaurant
{
    border: 1px solid #adb5bdbf;
}

.profile-order-status
{
    border-radius: 3px 0px 0px 3px;
    border: 1px #adb5bdbf;
    border-style: solid none solid solid;
    display: flex;
}

.profile-status-con
{
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    /*background-color: black;
    width: 40%;*/
    height: 60%;

}

.profile-Delivering-status
{
    background-color: #CCFCD8;
    width: 60%;
    color:#53745B;
    font-size:1vw;
}

.profile-FindingDelivery-status
{
    background-color: #BDEAF6;
    width: 80%;
    color:#3D6570;
    font-size:1vw;
}

.profile-Done-status
{
    background-color: #FFE674;
    width: 75%;
    color:#514B31;
    font-size:1.3vw;
    box-shadow: -1px 1px 0.5px 0px #ad9f9f;
}

#profile-first-order
{
    margin-top: 2vmax;
}

.profile-see-details-button
{
    text-align: center;
    padding: 0px;
    line-height: 0px;
}