/*@font-face {*/
/*    font-family: Vazir;*/
/*    src: url('Vazir.eot');*/
/*    src: url('Vazir.eot?#iefix') format('embedded-opentype'),*/
/*    url('Vazir.woff2') format('woff2'),*/
/*    url('Vazir.woff') format('woff'),*/
/*    url('Vazir.ttf') format('truetype');*/
/*    font-weight: normal;*/
/*    font-style: normal;*/
/*}*/
/*@font-face {*/
/*    font-family: Vazir;*/
/*    src: url('Vazir-Bold.eot');*/
/*    src: url('Vazir-Bold.eot?#iefix') format('embedded-opentype'),*/
/*    url('Vazir-Bold.woff2') format('woff2'),*/
/*    url('Vazir-Bold.woff') format('woff'),*/
/*    url('Vazir-Bold.ttf') format('truetype');*/
/*    font-weight: bold;*/
/*    font-style: normal;*/
/*}*/
/*@font-face {*/
/*    font-family: Vazir;*/
/*    src: url('Vazir-Black.eot');*/
/*    src: url('Vazir-Black.eot?#iefix') format('embedded-opentype'),*/
/*    url('Vazir-Black.woff2') format('woff2'),*/
/*    url('Vazir-Black.woff') format('woff'),*/
/*    url('Vazir-Black.ttf') format('truetype');*/
/*    font-weight: 900;*/
/*    font-style: normal;*/
/*}*/
/*@font-face {*/
/*    font-family: Vazir;*/
/*    src: url('Vazir-Medium.eot');*/
/*    src: url('Vazir-Medium.eot?#iefix') format('embedded-opentype'),*/
/*    url('Vazir-Medium.woff2') format('woff2'),*/
/*    url('Vazir-Medium.woff') format('woff'),*/
/*    url('Vazir-Medium.ttf') format('truetype');*/
/*    font-weight: 500;*/
/*    font-style: normal;*/
/*}*/
/*@font-face {*/
/*    font-family: Vazir;*/
/*    src: url('Vazir-Light.eot');*/
/*    src: url('Vazir-Light.eot?#iefix') format('embedded-opentype'),*/
/*    url('Vazir-Light.woff2') format('woff2'),*/
/*    url('Vazir-Light.woff') format('woff'),*/
/*    url('Vazir-Light.ttf') format('truetype');*/
/*    font-weight: 300;*/
/*    font-style: normal;*/
/*}*/
/*@font-face {*/
/*    font-family: Vazir;*/
/*    src: url('Vazir-Thin.eot');*/
/*    src: url('Vazir-Thin.eot?#iefix') format('embedded-opentype'),*/
/*    url('Vazir-Thin.woff2') format('woff2'),*/
/*    url('Vazir-Thin.woff') format('woff'),*/
/*    url('Vazir-Thin.ttf') format('truetype');*/
/*    font-weight: 100;*/
/*    font-style: normal;*/
/*}*/




#profile-user-info-con {
    background-color: #FF6B6B;
    color: white;
    width: 100%;
    height: 13vh;
    margin-right: 0;
    margin-left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

}


#profile-user-name
{
    text-align: right;
    display:flex;
    justify-content: center;
    align-items: end;
    flex-grow: 0;
}

#profile-logo {
    max-width: 5vw;
    max-height: 5vw;
    filter: brightness(0) invert(1);
    margin-left: 1vw;
    margin-right: 1vw;
}

#profile-username
{
    margin-top: 0.85vw;
    font-size: 3vw;
    font-weight: 500;
}
#profile-user-info
{
    text-align: right;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}
.profile-user-info-item
{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: flex-end;
    font-size: 1vw;
    font-weight: 100;
}


.profile-info-logo {
    max-width: 2vh;
    max-height: 2vh;
    filter: brightness(0) invert(1);
    margin-left: 1vw;
}

.profile-info-item
{
    margin-bottom: 0.5vh;
}

ul.profile-tabs-nav.profile-nav.profile-navbar-nav.profile-navbar-left {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

li.profile-tab-link.tab {
    display: inline-block;
    padding: 10px;
    margin-right: 5px;
}

li.profile-tab-link.custom-link {
    display: flex;
    background-color: white;
    font-weight: 100;
    justify-content: center;
    align-items: center;
    position: absolute;
    /*bottom: -2vh;*/
    font-size: 12px;
    color : #5d5b5b;
    cursor: pointer;
}

li.profile-tab-link.custom-link.active {
    background-color: #FF6B6B;
    font-weight:300;
    width: 31%;
    height: 6vh;
    font-size: 12px;

    color : white;
}

#profile-credit-tab-button
{
    width: 31%;
    height: 6vh;
    /*bottom: -2vh;*/
    top: 2vh;
    clear: both;
    right: 40vw;
    border: 1.5px #737575;
    border-radius: 2px 0px 0px 2px;
    border-style: none dashed none none;
    box-shadow: -1px 1px 2px 0px #ad9f9f;
    z-index: 2;
}


#profile-order-tab-button
{
    width: 32%;
    height: 6vh;
    /*bottom: -2vh;*/
    top: 2vh;
    clear: both;
    right: 14.4vw;
    /*border: 1.5px #737575;*/
    border-radius: 0px 2px 2px 0px;
    /*border-style: none dashed none none;*/
    box-shadow: 1px 1px 2px 0px #ad9f9f;
    z-index: 2;

}


#profile-tabs-con {

    position: relative;
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 7vh;

}







