#profile-credit-tab-con
{
    background-color: white;
    position: relative;
    width: 85%;
    height: 20vw;
    top: 5vh;
    border: 0.5px solid #c6c7c7;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;

}

#profile-credit-form
{
    width: 85%;
    height: 6vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 100;

}

#profile-amount-form
{
    display: flex;
    flex-grow: 0;
    font-weight: 100;
    /*margin-right: -1vmin*/
    /*z-index: -2;*/
}

#profile-amount-form input[type='text']
{
    /*margin: 5px;*/
    background-color: #a2a2a21a;
    color:black;
    border-radius: 3px;
    border: 1px solid #adb5bdbf;
    width: 23vmax;
    height:4vmax;
    padding-right: 2vmin;
    font-size: 2vmin;
    font-weight: 100;

}

#profile-amount-form input::placeholder
{
    color:#cacacae8;
}

#profile-button-div
{
    margin-left: 1vmin;
}

.profile-increase-button
{
    flex-grow: 0;
    background-color: #4ECDC4;
    color:white;
    border-radius: 3px;
    border: 1px solid #adb5bdbf;
    font-weight: 100;
    cursor: pointer;
    width: 12vmax;
    height:4vmax;
    font-size: 2vmin;
    font-weight: 100;
}

button:disabled[class*=profile-increase-button]
{
    background-color:  #4ECDC4;
}