.rst-card-img-top {
    object-fit: cover;
    object-position: center;
    align-self: center;
    width: 8vmin;
    height: 8vmin;
    margin-top: 2vmin;
    border-radius: 10%;
}

.rst-food-card {

    margin-top: 2.75vmin;
    box-shadow: 0 2px 2px 0.08vmin #adb5bd;
}

@media (min-width: 768px) {
    .rst-food-card.col-md-3 {
        flex: 0 0 25%;
        min-width: 27%;
        max-width: 27%;
    }
    .rst-food-card{
        margin-right: 2vmin;
        margin-left: 2vmin;
    }
}

@media (min-width: 992px) {
    .rst-food-card.col-lg-2 {
        flex: 0 0 25%;
        min-width: 20%;
        max-width: 20%;
    }

    .rst-food-card{
        margin-right: 2.5vw;
        margin-left: 1vw;
    }
}



.rst-food-card-body {
    padding-top: 0.5vw;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rst-food-name-population {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%
}

.rst-food-rate {
    font-size: 1.25vw;
    margin-bottom: 0.5rem;
}


.rst-food-title {
    font-weight: bold;
    font-size: 1vw;
    margin-left: 2vmin;
    margin-bottom: 0.5rem;
    /*width: 5vw;*/
    /*height: 2vw;*/

    /*position: relative;*/
    display: block;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.rst-food-title span {
    position: absolute;
    white-space: nowrap;
    transform: translateX(0);
    transition: 1s;
}
.rst-food-title:hover span {
    transform: translateX(calc(200px - 100%));
}


.rst-star {
    color: rgb(255, 194, 27);
    margin-bottom: 0.5rem;
    font-size: 1vw;
}


.rst-card-subtitle {
    font-size: 1vw;
    margin-bottom: 5px;
}



button:disabled[class*=rst-food-addtocart-disabled]
{
    background-color:  #ffe66d;
    border-color: #ffe66d;
}


