.home-fp-card{
    margin: 1.9vmin 2.1vmin;
    box-shadow: 0 2px 4px 0.08vmin #adb5bd;
    height: 25vmin;
}

.home-fp-card-body{
    padding-top: 0.5vw;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.home-fp-content{
    /*border-bottom: 1px dashed #1A535C;*/
    width: 100%;
    display: flex;
    flex-direction: column;
}

.home-fp-content-name-rate-pic{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.home-fp-img{
    object-fit: cover;
    object-position: center;
    align-self: center;
    width: 5vmax;
    height: 5vmax;
    margin-top: 2vmin;
    border-radius: 5px;
}


.home-fp-title{
    font-size: 1vmax;
    display: block;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.home-fp-rate-sec{
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-fp-rate{
    font-size: 0.75vw;
    margin-bottom: 0.5rem;
}

.home-fp-star{
    color: rgb(255, 194, 27);
    margin-bottom: 0.5rem;
    font-size: 0.6vw;
}

.home-fp-restaurant{
    font-size: 0.8vmax;
}


.home-fp-add{
    z-index: 2 !important;
    position: relative;
    background-color: #4ecdc4;
    border-color: #4ecdc4;
    padding: 2px ;
    font-size: 0.7vmax;
    border-radius: 7px;
    margin-left: 8px;
    margin-right:8px;
    width: 5vw;
}

.home-fp-available-count{
    background-color: rgba(78, 205, 197, 0.1);
    padding: 2px;
    font-size: 0.7vmax;
    border-radius: 7px;
    border: 0.04vw solid rgba(26, 83, 92,0.5);
    color: rgba(26, 83, 92,0.5);

    width: 5vw;
    margin-left: 8px;
    margin-right:8px;
}


.home-fp-price-sec{
    display: flex;
    justify-content: center;
    align-items: center;
}


.home-fp-submit-sec{
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-fp-price{
    font-size: 0.9vmax;
    margin-left: 8px;
    margin-right:8px;
}

.home-fp-price#old{
    color: #555555;
    text-decoration-line: line-through;
    text-decoration-color: red;
}


.home-fp-price#new{

}

.home-fp-line{
    width: 16.5vw;
    margin-right: -1vw;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    margin-top: 5px;
    margin-bottom: 5px;
    border-top: 0.15vmin dashed rgba(26, 83, 92,0.5);;
}

button:disabled[class*=addtocart-disabled]
{
    background-color:  #17a2b8;
    border-color: #17a2b8;
}